{% extends "base.html" %}

{% block content %}
<body>
  <div class="container fluid">
    {% if product %}
    <div style="background:transparent !important" class="jumbotron">
      <h1 class="display-4">{{product.product_name}}</h1>
      <p class="lead">{{product.product_desc}}</p>
      <p class="lead">£{{product.price}}</p>
      <hr class="my-4">
      <form action="{% url 'shoestore:buy' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" value="{{product.id}}">Add to basket</div>
      </form>
    </div>
    {% else %}
      <p>Something went wrong.</p>
    {% endif %}
  </div>  
</body>
{% endblock %}